.content {
  margin: 1em;
  background-color: #ecf4fb;
  border: thin solid #c9dcee;
  padding: 2em;
  width: 960px;
  flex-wrap: wrap;
}

.content > div {
  background-color: #f6fbfe;
  border-radius: 8px;
  padding: 1em;
  margin-bottom: 2em;
}
