.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "Boosterfy";
  src: local("Boosterfy"), url(./fonts/BoosterNextFY-Black.woff) format("woff");
}

@font-face {
  font-family: "Boosterfy";
  src: local("Boosterfy"), url(./fonts/BoosterNextFY-Bold.woff) format("woff");
}

@font-face {
  font-family: "Boosterfy";
  src: local("Boosterfy"), url(./fonts/BoosterNextFY-Light.woff) format("woff");
}

@font-face {
  font-family: "Boosterfy";
  src: local("Boosterfy"), url(./fonts/BoosterNextFY-Medium.woff) format("woff");
}

@font-face {
  font-family: "Boosterfy";
  src: local("Boosterfy"),
    url(./fonts/BoosterNextFY-Regular.woff) format("woff");
}

@font-face {
  font-family: "Boosterfy";
  src: local("Boosterfy"), url(./fonts/BoosterNextFY-Thin.woff) format("woff");
}
