.st0 {
  fill: none;
  stroke: #000000;
  stroke-miterlimit: 10;
}
.st0a {
  fill: none;
  stroke: #eee;
  stroke-miterlimit: 10;
}
.st2 {
  font-size: 13px;
}
body {
  font-family: "BoosterNextFY-Regular";
}

.fw {
  &_container {
    position: relative;
    z-index: 10;
    padding-right: 2em;
    display: grid;
    grid-template-columns: 6em 1fr;
    grid-template-rows: 14em 3em;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  &_y_axis {
    grid-area: 1 / 1 / 2 / 2;
  }
  &_histogram_container {
    grid-area: 1 / 2 / 2 / 3;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    rect {
      cursor: pointer;
    }
    h5 {
      position: absolute;
      top: 2px;
      left: 330px;
    }
    h6 {
      position: absolute;
      top: 170px;
      left: 400px;
      font-weight: normal;
      display: none;
    }
  }
  &_minimap {
    grid-area: 2 / 1 / 2 / 4;
    padding-left: 6em;
  }
  &_target {
    stroke: orange;
  }
  &_legend {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    position: absolute;
    margin-left: 200px;
    margin-top: 45px;
    font-size: 12px;
    z-index: 10;
    li {
      display: inline-block;
      padding: 0 1em 0 1em;
    }
    &_available {
      background-color: #001e62;
    }
    &_icon {
      width: 0.75em;
      height: 0.75em;
      display: inline-block;
      margin-right: 0.5em;
      border-radius: 50%;
    }
  }

  &_bar_available {
    fill: #001e62;
  }

  &_slider {
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    margin: 0;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      height: 48px;
      background: transparent;
      cursor: pointer;
      border: 4px solid grey;
    }
  }

  &_minimap_view {
    position: relative;
    z-index: -1;
    width: 100%;
    height: 48px;
    top: -53px;
  }
}
